@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    background-color: #f8f8f8;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 見出し */
.page-title {
    font-size: 4.5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* ボタン */
.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  background: #003366;
  color: #fff;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn:hover{
    background: #0090aa;
}


/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: center;
    align-items: left;
}

.main-nav {
    display: flex;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: red;
}

/* HOME
------------------------------- */
#home {
    background-color: #f8f8f8;
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.4rem;
    margin: 60px 0 42px;
}

.home-desc {
    text-align: center;
    margin-top: 10%;
}

.home-desc p {
    font-size: 1.4rem;
    margin: 60px 0 42px;
}


/* Tops
------------------------------- */
#tops {
    height: 70px;
    margin-bottom: 40px;
    text-align: center;    
}
#tops .page-title {
    text-align: center;
}


.genecontainer{
    justify-content: center;
    align-items: left;
    min-height: 50vh;
}

.genecontainer li {
margin-bottom: 1.8rem;

}

.descrcon{
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px: 
    font-size: 1.4rem;
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
}


.float_l {
    margin-top: 30px;
    float: left;
}



/* フッター
------------------------------- */
footer {
    background: black;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 1.2rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: left;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }



